<div class="container">
  <h1>Results</h1>

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <ul class="profile_list">
  <% if @questions %>
    <% @questions.each do |question| %>
      <li> <a href="/questions/<%=question.id %>"><%= question.title %></a> <%=question.user.username %></li>
    <% end %>
  </ul>
  <% end %>
</div>
