
body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  width: 600px;
  margin: 0 auto;

}

#question_container {
  /*border: 2px solid black;*/
  width: 1000px;
  margin: auto;
}

.actual_question {
  /*border: 2px solid black;*/
  border-top: 2px solid grey;
  margin: 5px;
}

.attributes_container {
  float: left;
  text-align: center;
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

.number_container {
  margin-bottom: 0;
}

.attribute_description {
  margin-top: 5px;
}

.q_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  width: 650px;
  height: 75px;
}

.the_q {
  text-decoration: none;
  color: black;
}

.user_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
}

.time_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  margin-right: 0;
  /*margin-left: 300px;*/
}

.tag_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  margin-left:210px;
  width: 450px;
  margin-top: 0px;
}

.the_tag {
  display: inline-block;
  background: lightblue;
}

.question_and_attr {
  border: 2px  ;

}

.bottom_attr {
  border :2px  ;
}
