
#q_nav {
  margin:0px;
  list-style: none;
  float: right;
}

.second-nav{
  padding:10px;
  /*padding-bottom:0px;*/
  border-bottom: 2px solid black;
  overflow:hidden;
}
.q_li {
  display: inline;
  float: left;
}

#title{
  float: left;
}

.q_li a {
  padding: 5px;
  text-decoration: none;
}

.super_random {
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

a:hover {
  color:#2d8659;
}












#question_container {
  /*border: 2px solid black;*/
  width: 1000px;
  margin: auto;
  margin-top: 75px;
}

.actual_question {
  /*border: 2px solid black;*/
  border-bottom: 2px solid grey;
  margin: 5px;
}

.attributes_container {
  float: left;
  text-align: center;
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  height: 60px;
  width: 50px;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

.number_container {
  margin-bottom: 0;
}

.attribute_description {
  margin-top: 5px;
}

.q_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  width: 650px;
  height: 75px;
}

.the_q {
  text-decoration: none;
  color: black;
}

.user_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  float: right;
}

.user_container a {
  text-decoration: none;

}

.time_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  margin-right: 0;
  /*margin-left: 300px;*/
  float: right;
}

.tag_container {
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 8px;
  margin-left:210px;
  width: 470px;
  margin-top: 0px;
}

.the_tag {
  display: inline-block;
  background: #4E9CAF;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.the_tag a{
  text-decoration:none;
  color: white;
}

.question_and_attr {
  border: 2px  ;

}

.bottom_attr {
  border :2px  ;
}

.the_q h2 {
  /*border: 2px solid black;*/

  padding-left: 10px;
}
