#homerow {
  background-color: #4E9CAF;
  width: 100%;
  height: 140px;
  margin: auto;
}

#home_icon {
  display: inline-block;
  width: 10%;
  text-align: center;
}

#search_bar {
  position: relative;
  display: inline-block;
  /*margin-top: 20px;*/
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  bottom: 8px;
}


#top_row {
  display: inline-block;
  height: 40px;
  float: right;
  width: 400px;
  text-align: center;
  position: relative;
  top: -4px;

}

#search_button {
  display: inline-block;
  text-decoration: none;
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: white;
  float: left;
}

#search_area {

  width: 200px;
}

#logo {
  height: 110px;
  width: 110px;
}

.top_button{
  text-decoration: none;
  display: inline-block;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;

}
