nav {
  background-color: #4E9CAF;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

#home_icon {
  text-decoration: none;
  display: inline-block;
  width: 20%;
  text-align: center;
  text-decoration: none;

}

#top_row {
  padding-top: 30px;
  float: right;
  width: 75%;
  text-align: center;

}

#logo {
  height: 75px;
  width: 75px;
}

.top_button{
  text-decoration: none;
  display: inline-block;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;

}
