.main_question_div {
  margin: 20px auto;
  width: 700px;
/*  border: solid 1px black;
*/}

.vote_container {
  text-align: center;
/*  border: solid 1px black;
*/  width: 75px;
}

.vote_container img {
  display: inline-block;
  position: relative;
  max-width: 75px;
}

.question_header {
/*  border: solid 1px black;
*/}

.question_header h1, p {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.question_header p {
  margin-left: 30px;
}

.q_a_container {
/* border: solid 1px black;
*/ display: inline-block;
 float: right;
 width: 622px;
 min-height: 208px

}

.q_a_vote_container {

}

.comment_form {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

.submit_button {
}

.comment_field {
  float: right;
  width: 567px;
  height: 37px;
}

.comment_list {
  list-style: none;
  font-size: 90%;
}


.comment_list .comment:first-of-type {
  border-top: 1px solid gray;
}
.comment {
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 3px;
}

.answer_form h2{
  margin-left: 33px;
  font-size: 130%;
  height: 20px;
}

.answer_form textarea {
  width:695px;
  min-height: 208px;
}

#choose_best {
  text-decoration: none;
  color: black;
}

.question_header .top_button {
  margin-left: 270px;
}

.answer_score {
  border-top: 1px solid gray;
  font-size: 110%;
}
