<div id="question_container">





  <div class="second-nav">
    <nav>

      <h1><span id="title" class="q_li"> New Year's Resolutions </span></h1>

      <ul id="q_nav">
        <li id="newest_id" class="q_li"> <a href="/questions/newest"> New </a> </li>
        <li id="popular_id" class="q_li" > <a href="/questions/popular"> Popular </a> </li>
        <li id="worst_id" class="q_li"> <a href="/questions/worst" > Worst </a></li>
      </ul>

    </nav>
  </div>


  <div id="all_the_questions">
    <%= erb :all_questions, locals: { questions: @questions } %>
  <div>



</div>
