<div id="question_container">





  <div class="second-nav">
    <nav>

      <span id="title" class="q_li"> New Year Resolutions </span>

      <ul id="q_nav">
        <li id="newest_id" class="q_li"> <a href="/questions/newest"> New </a> </li>
        <li id="popular_id" class="q_li" > <a href="/questions/popular"> popular </a> </li>
        <li id="worst_id" class="q_li"> <a href="/questions/worst" > Worst </a></li>
      </ul>

    </nav>
  </div>


  <div id="all_the_questions">
    <%= erb :all_questions, locals: { questions: @questions } %>
  <div>


>>>>>>> complete akax for tab upload
</div>
