<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/question.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="/js/profile.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/home_q_nav.js"></script>

  <title></title>
<nav>
  <div id="home_icon">
    <a class="top_button" id="home_button" href="/"> <img id="logo" src ="/logo.jpg" alt="it broke"/> </a>
  </div>

  <div id="top_row">
      <% if current_user %>
        <a class="top_button" href="/users/profile/<%=current_user%>"><%= current_user_name %>'s Profile</a>
        <a class="top_button" href="/questions/create">Create A Question!</a>
        <a class="top_button" href="/users/logout">Logout</a>
      <% else %>
        <a class="top_button" href="/users/new">Register</a>
        <a class="top_button" href="/users/login">Login</a>
      <% end %>
    </div>
  </nav>
</head>

<body>
  <%= yield %>
</body>
</html>
